<phpunit
    colors="true"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="highscores">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib/</directory>
        </whitelist>
    </filter>
</phpunit>
